.trading-nav-link {
    text-decoration: none;
    color:black;
} 

.trading-nav-link:hover {
    text-decoration: none;
    color: #b84444;
} 


.trading-links-container{
    margin: auto;
    left: 50%;
    padding: 5px;
    display: flex;
    margin-top: 50px;
    position: absolute;
    z-index: 1; 
    transform: translate(-50%, -100%);
    display:flex;
    white-space: nowrap;

}

.camera-icon{
    height: 15px;
    margin-right: 5px;
}

.post-item-link{
    margin-right: 250px;
}

.archived-link{
    margin-left: 250px;
}